[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
attrs = "==19.3.0"
cffi = "==1.14.0"
constantly = "==15.1.0"
cryptography = "==2.9.2"
cssselect = "==1.1.0"
django-appconf = "==1.0.4"
django-debug-toolbar = "==2.2"
django-libsass = "==0.8"
hyperlink = "==19.0.0"
idna = "==2.9"
incremental = "==17.5.0"
libsass = "==0.19.4"
lxml = "==4.5.0"
parsel = "==1.5.2"
psycopg2 = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pytz = "==2020.1"
queuelib = "==1.5.0"
rcssmin = "==1.0.6"
rjsmin = "==1.1.0"
six = "==1.14.0"
sqlparse = "==0.3.1"
w3lib = "==1.21.0"
Automat = "==20.2.0"
Django = "==3.0.7"
Protego = "==0.1.16"
PyDispatcher = "==2.0.5"
PyHamcrest = "==2.0.2"
pyOpenSSL = "==19.1.0"
PyYAML = "==5.3.1"
Scrapy = "==2.1.0"
service_identity = "==18.1.0"
Twisted = "==20.3.0"
"zope.interface" = "==5.1.0"
pytils = "*"
pytest = "*"
pytest-django = "*"
pillow = "*"
django-environ = "*"
requests = "*"
celery = "*"
flower = "*"
flake8 = "*"
django-webpack-loader = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
