{% extends 'layout.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <section class="content message-page">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-6 col-lg-4 offset-lg-2">
                    <h1>Check your inbox.</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email
                        shortly!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}